<!DOCTYPE html>
<html>
<body style="background-color:lightblue;">

<h1> Welcome to www.3aayaam.in</h1>
<p> Account Details for Account ID </p>
<label>  Account ID       : {{acct_id}} </label> <br>
<label>  Account Balance  : {{acct_bal}}</label> <br>
<label>  Account Type     : {{account_type}}</label><br>
<label>  Currency Code    : {{currency_code}}</label><br>
<label>  Acc Opening Date : {{acc_opening_date}}</label><br>
<label>  Last Update Date : {{last_update_date}}</label><br>
</body>
</html>